@charset "utf-8";

html {}

body {}

/* header */
#head {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/*indexの投稿ボタン */
.submitbtn {
    border: 0px;
    width: 50px;
    height: 50px;
    background: url(../images/post.png) no-repeat;
    background-size: contain;
}

.submit_text {
    border: none;
    width: 80%;
    height: 150px;
}

/*search画面 */
.btn-success {
    border: 0px;
    width: 50px;
    height: 50px;
    background: url(../images/search.png) no-repeat;
    background-size: contain;
}

/*アコーディオンメニュー */
.accordion {
    margin-left: auto;
    margin-right: 0;
    margin-top: 30px;
    max-width: 300px;
    position: relative;
    width: 100%;
}

.accordion-title {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

.accordion-content {
    display: none;
    padding: 10px 20px;
}

.accordion-content::after {
    display: flex;
    margin-left: auto;
    margin-right: 0;
}

.accordion-content p {
    font-size: 13px;
    line-height: 1.5;
}

/* コンテンツボックスの枠線 */
.accordion-item:nth-of-type(1) .accordion-content {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

/* 矢印 */
.accordion-title {
    position: relative;
    display: flex;
    align-items: center;
}



.accordion-title p {
    position: relative;
    padding-right: 50px;
}

.accordion-title p::after {
    border-right: solid 2px #fff;
    border-top: solid 2px #fff;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 25px;
    top: 38%;
    transform: rotate(135deg);
    transition: transform .3s ease-in-out, top .3s ease-in-out;
    width: 8px;
}

.accordion-title.open::after {
    top: 45%;
    transform: rotate(-45deg);
}

div#head {
    display: flex;
}
