@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/*indexの投稿ボタン */
.submitbtn {
    border: 0px;
    width: 50px;
    height: 50px;
    background: url(../images/post.png) no-repeat;
    background-size: contain;
}

.submit_text {
    border: none;
    width: 80%;
    height: 150px;
}

/*search画面 */
.btn-success {
    border: 0px;
    width: 50px;
    height: 50px;
    background: url(../images/search.png) no-repeat;
    background-size: contain;
}

/* アコーディオンメニュー*/
.accordion-container {
    display: flex;
    position: relative;
    border-top: none;
    outline: pointer;
}

.accordion-container .accordion-title {
    display: block;
    position: relative;
    font-size: 1.25em;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
    width: 50px;
    height: 17px;
    padding-left: 50px;
}

a.home {
    color: #778899;
    height: 80px;
    padding: 20px 0px 0px;
    margin: auto;
    font-size: 20px;

    display: block;
}

a.profile {
    color: #778899;
    height: 80px;
    padding: 20px 0px 0px;
    margin: auto;
    font-size: 20px;

    display: block;
}

a.logout {
    color: #778899;
    height: 80px;
    padding: 20px 0px 0px;
    margin: auto;
    font-size: 20px;

    display: block;
}
